# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/

# Pytest
.pytest_cache/
.cache/

# Allure results
allure-results/
allure-report/

# IDE settings
.idea/

# VSCode settings
.vscode/

# Docker artifacts
*.tar
*.img
*.bak

# Environment and logs
.env
.env.*
*.log

# System files
.DS_Store
Thumbs.db
desktop.ini
